.container
  .row
    %h1
      Sign Up for Punch Card

  .row
    = bootstrap_form_for(@user, url: sign_up_path, method: :post) do |f|
      = f.text_field :name, label: 'Name', required: true
      = f.email_field :email, label: 'Email', required: true
      = f.password_field :password, label: 'Password', required: true, help: 'Must be at least 6 characters'
      = f.submit 'Sign Up', class: 'btn btn-primary'
