.container
  .row
    %h1
      🙏, 🏅
      = "#{current_user.name}!"

  - if @timecards.any?
    .row
      %h3
        Timecards

      %p
        All time cards by recently updated
    .row
      %table.table.pt-6.mb-6
        %thead.thead-light
          %tr
            %th(scope="col") Name
            %th(scope="col") Start
            %th(scope="col") End
            %th(scope="col") Duration
        %tbody
          - @timecards.each do |timecard|
            %tr
              %td= timecard.user.name
              %td= timecard.clocked_in_at.to_formatted_s(:long_tz)
              %td
                - if timecard.clocked_out_at.present?
                  = timecard.clocked_out_at.to_formatted_s(:long_tz)
              %td
                - if timecard.clocked_out_at.present?
                  = distance_of_time_in_words(timecard.clocked_in_at, timecard.clocked_out_at)
