.container
  .row
    %h1.mb-6
      = @msg

  .row
    = bootstrap_form_for(@timecard, url: timecard_punch_path, method: :post) do |f|
      = f.submit @submit_text, class: 'btn btn-primary'

  - if @timecards.any?
    .row
      %h3
        = "#{current_user.name}'s"
        most recent timecards

    .row
      %table.table.pt-6.mb-6
        %thead.thead-light
          %tr
            %th(scope="col") Start
            %th(scope="col") End
            %th(scope="col") Duration
        %tbody
          - @timecards.each do |timecard|
            %tr
              %td= timecard.clocked_in_at.to_formatted_s(:long_tz)
              %td
                - if timecard.clocked_out_at.present?
                  = timecard.clocked_out_at.to_formatted_s(:long_tz)
              %td
                - if timecard.clocked_out_at.present?
                  = distance_of_time_in_words(timecard.clocked_in_at, timecard.clocked_out_at)
