.container
  .row
    %h1
      Login to Punch Card 👊

    %p
      Keep track of your work hours

  .row
    = bootstrap_form_for(@user, url: login_path, method: :post) do |f|
      = f.email_field :email, label: 'Email', required: true
      = f.password_field :password, label: 'Password', required: true
      = f.submit 'Login', class: 'btn btn-primary'

  .row
    %p
      Don't have an account?
      = link_to 'Sign Up', sign_up_path, class: 'btn btn-primary'
