!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Punch Card"
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'

  %body
    %nav.navbar.navbar-expand-lg.navbar-default
      %a.navbar-brand(href="/") Punch Card 👊
      - if current_user
        %span.nav-item.navbar-text.hide-sm
          = "👋, #{current_user.name}!"
        - if current_user.admin?
          %span.nav-item.navbar-text
            = link_to admin_path do
              Admin
        %span.nav-item.navbar-text
          = link_to logout_path do
            Sign Out
      - else
        %span.nav-item.navbar-text
          = link_to login_path do
            Sign In

    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield

